# Извлечение данных

In [2]:
import zipfile
         
train_zip = zipfile.ZipFile('train.zip')
train_zip.extractall()
train_zip.close()

test_zip = zipfile.ZipFile('test.zip')
test_zip.extractall()
test_zip.close()

# Анализ данных

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('train.csv', header=0, index_col=False)
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
0,b4d8a653ea,16a14a2d17,06330986ed,ca63304de0,a62168d626,1746600cb0,1,1,-0.688706,7e5c97705a,...,0.235333,0.264952,0.000000,0.333333,0.333333,0.333333,0.000000,0.000000,9.0,2
1,467f9617a3,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,0.870871,5624b8f759,...,1.782346,1.322409,0.011647,0.397671,0.239601,0.249584,0.068220,0.033278,601.0,4
2,190436e528,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,0.437655,5624b8f759,...,-0.586540,0.672436,0.000000,0.606061,0.121212,0.212121,0.060606,0.000000,33.0,3
3,43859085bc,16a14a2d17,06330986ed,ca63304de0,a62168d626,1746600cb0,1,1,0.004439,f67f142e40,...,-1.600326,-1.838680,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,4
4,a4c3095b75,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,0.480977,7e5c97705a,...,0.960991,0.790990,0.020161,0.645161,0.258065,0.036290,0.040323,0.000000,248.0,3

In [4]:
print(df.shape)

(50000, 63)

Проанализируем типы данных

In [5]:
print(df.dtypes.unique())

[dtype('O') dtype('int64') dtype('float64')]

In [6]:
str_columns = []
float_columns = []
int_columns = []
for column in df.columns:
    if df[column].dtypes == 'object':
        str_columns.append(column)
    elif df[column].dtypes == 'float64':
        float_columns.append(column)
    else:
        int_columns.append(column)
print('Columns with string data type are: {0}'.format(str_columns))
print('Columns with float data type are: {0}'.format(float_columns))
print('Columns with int data type are: {0}'.format(int_columns))

Columns with string data type are: ['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x9', 'x10', 'x11', 'x12', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19', 'x20', 'x21', 'x22']
Columns with float data type are: ['x8', 'x13', 'x23', 'x24', 'x25', 'x26', 'x27', 'x28', 'x29', 'x30', 'x31', 'x32', 'x33', 'x34', 'x35', 'x36', 'x37', 'x38', 'x39', 'x40', 'x41', 'x42', 'x43', 'x44', 'x45', 'x46', 'x47', 'x48', 'x49', 'x50', 'x51', 'x52', 'x53', 'x54', 'x55', 'x56', 'x57', 'x58', 'x59', 'x60', 'x61']
Columns with int data type are: ['x6', 'x7', 'y']

Удалим из списка колонок целочисленного типа выходную переменную `y`, т.к. ее будем обрабатывать отдельно

In [7]:
int_columns.pop()
print(int_columns)

['x6', 'x7']

In [8]:
df.describe(include='all')

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
count,49480,49500,49528,49504,49514,49490,50000.00000,50000.000000,48793.000000,47642,...,47844.000000,47844.000000,46126.000000,46126.000000,46126.000000,46126.000000,46126.000000,46126.000000,46126.000000,50000.000000
unique,85,15,2,2,5,6,NaN,NaN,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,aa2f3cd34a,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,NaN,NaN,NaN,f67f142e40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,13090,48103,48145,49085,28653,47980,NaN,NaN,NaN,16313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,0.99296,0.975860,-0.000252,NaN,...,-0.000686,-0.003266,0.046325,0.298044,0.286040,0.201557,0.116578,0.051234,161.143910,3.108880
std,NaN,NaN,NaN,NaN,NaN,NaN,0.08361,0.153485,1.023282,NaN,...,0.999981,1.000475,0.130912,0.300326,0.291669,0.256582,0.203317,0.139306,186.923802,1.217479
min,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,-85.252444,NaN,...,-1.600355,-1.838682,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,-0.255490,NaN,...,-0.697021,-0.731589,0.000000,0.037037,0.035714,0.008065,0.000000,0.000000,37.000000,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,0.221047,NaN,...,-0.080427,-0.011984,0.000000,0.193182,0.181818,0.086207,0.022727,0.000000,105.000000,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,0.567620,NaN,...,0.624234,0.804853,0.018349,0.500000,0.481013,0.304348,0.129900,0.025157,220.000000,4.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,3.426844,NaN,...,3.473768,2.242850,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5462.000000,6.000000

Выясним, сколько пропущенных значений и в каких они столбцах

In [9]:
print('Rows in the data frame: {0}'.format(len(df)))
print('Rows without NAN: {0}'.format(len(df.dropna(how='any'))))

Rows in the data frame: 50000
Rows without NAN: 32761

# 1. Отбрасывать ли строки с NaN или пытаться восстановить

## 1.1. Отбрасывать строки с NaN

In [10]:
df_1 = df.dropna(how='any')
len(df_1)

32761

Для строковых столбцов посмотрим, сколько различных вариантов есть в каждом из них

In [11]:
str_options_num = {}
for column in df_1.columns:
    if df_1[column].dtypes == 'object':
        str_options_num[column] = df_1[column].nunique()
print(len(str_options_num))
print(str_options_num)

19
{'x0': 85, 'x1': 11, 'x2': 2, 'x3': 2, 'x4': 5, 'x5': 6, 'x9': 7, 'x10': 1699, 'x11': 4, 'x12': 7, 'x14': 37, 'x15': 2, 'x16': 10, 'x17': 79, 'x18': 2810, 'x19': 10, 'x20': 79, 'x21': 3508, 'x22': 7}

# 2. Убирать ли факторы, в которых большинство строк принимает одно значение

## 2.1. Убирать

В качестве границы примем, что если 95% и более наблюдений принимают в данном столбце одинаковое значение, то столбец неинформативен, и его необходимо удалить.

In [12]:
df_2 = df_1.copy()
columns_to_del = []
for column in df_2.columns:
    for value in df_2[column].value_counts():
        if value/len(df_2) >= 0.95:
            columns_to_del.append(column)
print(columns_to_del)

str_columns = list(set(str_columns) - set(columns_to_del))
float_columns = list(set(float_columns) - set(columns_to_del))
int_columns = list(set(int_columns) - set(columns_to_del))
print('Оставшиеся категориальные предикторы: ', str_columns)
print('Оставшиеся целочисленные предикторы: ', int_columns)
print('Оставшиеся числовые предикторы: ', float_columns)

['x1', 'x2', 'x3', 'x5', 'x6', 'x7', 'x22']
Оставшиеся категориальные предикторы:  ['x18', 'x16', 'x9', 'x21', 'x10', 'x19', 'x15', 'x11', 'x4', 'x12', 'x14', 'x17', 'x20', 'x0']
Оставшиеся целочисленные предикторы:  []
Оставшиеся числовые предикторы:  ['x54', 'x34', 'x48', 'x57', 'x27', 'x55', 'x26', 'x37', 'x49', 'x50', 'x60', 'x29', 'x59', 'x43', 'x39', 'x13', 'x32', 'x23', 'x58', 'x61', 'x24', 'x36', 'x41', 'x8', 'x45', 'x25', 'x31', 'x28', 'x51', 'x38', 'x42', 'x52', 'x53', 'x56', 'x33', 'x30', 'x40', 'x46', 'x35', 'x47', 'x44']

In [13]:
for column in columns_to_del:
    del df_2[column]
df_2.head()

,x0,x4,x8,x9,x10,x11,x12,x13,x14,x15,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
0,b4d8a653ea,a62168d626,-0.688706,7e5c97705a,e5df3eff9b,91bb549494,e33c63cf35,3694.0,6e40247e69,617a4ad3f9,...,0.235333,0.264952,0.000000,0.333333,0.333333,0.333333,0.000000,0.000000,9.0,2
1,467f9617a3,b7584c2d52,0.870871,5624b8f759,fa0b797a92,669ea3d319,f178803074,18156.0,01ede04b4b,617a4ad3f9,...,1.782346,1.322409,0.011647,0.397671,0.239601,0.249584,0.068220,0.033278,601.0,4
2,190436e528,b7584c2d52,0.437655,5624b8f759,152af2cb2f,91bb549494,e33c63cf35,1178.0,cc69cbe29a,617a4ad3f9,...,-0.586540,0.672436,0.000000,0.606061,0.121212,0.212121,0.060606,0.000000,33.0,3
3,43859085bc,a62168d626,0.004439,f67f142e40,c4dd2197c3,91bb549494,e33c63cf35,14559.0,6e40247e69,617a4ad3f9,...,-1.600326,-1.838680,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,4
4,a4c3095b75,b7584c2d52,0.480977,7e5c97705a,e071d01df5,91bb549494,e33c63cf35,5777.0,6e40247e69,617a4ad3f9,...,0.960991,0.790990,0.020161,0.645161,0.258065,0.036290,0.040323,0.000000,248.0,3

# 3. Разделим данные предикторы и предсказываемую переменную

In [14]:
X_3 = df_2.drop('y', axis=1).copy()
y_3 = df_2['y'].copy()

# 4. Формат кодировки категориальных переменных

## 4.1. One-Hot Encoding

In [15]:
X_4 = pd.get_dummies(X_3, columns=[*str_columns])

In [16]:
y_4 = pd.get_dummies(y_3)

In [17]:
X_4.shape

(32761, 8383)

In [18]:
y_4.shape

(32761, 7)

# 5. Разделим выборку на тренировочную и тестовую

In [19]:
from sklearn.model_selection import train_test_split

## 5.1. Если требуется One-Hot Encoding для выходной переменной

In [313]:
X_train, X_test, y_train, y_test = train_test_split(X_4, y_4, random_state=19, test_size=0.2)

## 5.2. Если не требуется One-Hot Encoding для выходной переменной

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_4, y_3, random_state=19, test_size=0.2)

# 6. Нормализовать данные

In [21]:
from sklearn.preprocessing import StandardScaler

## 6.1. Нормализовать все данные

In [365]:
X_train_6 = X_train.copy()
scaler = StandardScaler()
scaler.fit_transform(X_train_6)

array([[ 0.7032666 , -0.40197795, -0.78130782, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [-0.07933866, -0.15690055,  1.12162001, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [ 0.10699593, -0.34007881, -1.645187  , ..., -0.0061772 ,
        -3.26074992,  3.26074992],
       ...,
       [ 0.33059743, -0.24255168,  1.1684044 , ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [-2.53895522, -0.40197795,  0.68097635, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [ 0.2560636 , -0.40197795, -1.28179198, ..., -0.0061772 ,
         0.30667792, -0.30667792]])

In [315]:
X_train_6.shape

(26208, 8383)

In [316]:
X_test_6 = X_test.copy()
scaler.transform(X_test_6)

array([[ 0.66599969,  1.21369747, -0.31781596, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [-0.19113941, -0.22374802,  0.81697748, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [ 0.44239818,  0.75557189,  0.89096209, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       ...,
       [ 0.51693202, -0.34997547,  0.21095644, ..., -0.0061772 ,
        -3.26074992,  3.26074992],
       [ 0.36786435,  0.51490301,  0.93013042, ..., -0.0061772 ,
         0.30667792, -0.30667792],
       [ 0.55419893,  0.27468398,  1.12814807, ..., -0.0061772 ,
         0.30667792, -0.30667792]])

## 6.2. Нормализовать только числовые данные

In [317]:
X_train_6 = X_train.copy()
X_test_6 = X_test.copy()
scaler = StandardScaler()
if len(float_columns) != 0:
    scaler.fit_transform(X_train_6[float_columns])
    scaler.transform(X_test_6[float_columns])
if len(int_columns) != 0:
    scaler.fit_transform(X_train_6[int_columns])
    scaler.transform(X_test_6[int_columns])

## 6.3. Убрать выбросы и нормализовать

In [22]:
X_train_6 = X_train.copy()
X_test_6 = X_test.copy()

In [23]:
X_train_6[float_columns].describe(include='all')

,x54,x34,x48,x57,x27,x55,x26,x37,x49,x50,...,x52,x53,x56,x33,x30,x40,x46,x35,x47,x44
count,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,...,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000
mean,0.061039,0.448107,0.471344,0.285297,0.035072,0.045735,3.825225,52.503510,0.471590,0.479357,...,0.479978,0.063844,0.297489,13.342643,606.847666,35.336577,0.533789,0.286217,0.522205,1.381464
std,0.965286,0.497309,0.375682,0.289865,1.017223,0.128599,3.457933,60.498334,0.377395,0.381462,...,0.386406,0.972652,0.298292,10.425553,1783.460768,26.001657,0.343415,0.382793,0.352243,1.450441
min,-1.838680,0.000000,0.000000,0.000000,-0.791959,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-1.600355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.646430,0.000000,0.000000,0.037383,-0.479063,0.000000,1.500000,19.000000,0.000000,0.000000,...,0.000000,-0.600646,0.038462,6.000000,0.000000,20.000000,0.273000,0.000000,0.250000,0.400000
50%,0.012632,0.000000,0.470000,0.181818,-0.298659,0.000000,3.000000,36.000000,0.468000,0.479500,...,0.474000,-0.040466,0.194444,12.000000,1.942139,30.000000,0.522000,0.000000,0.500000,1.000000
75%,0.829172,1.000000,0.822000,0.479004,0.175730,0.018413,5.166667,64.000000,0.831000,0.864000,...,0.905000,0.667153,0.500000,19.000000,493.531413,44.000000,0.833000,0.666667,0.833000,2.000000
max,2.242850,1.000000,1.000000,1.000000,28.814227,1.000000,58.000000,1724.000000,1.000000,1.000000,...,1.000000,3.469465,1.000000,76.000000,51986.672363,1110.000000,1.000000,1.000000,1.000000,36.400000

Будем считать значения за пределами 5% и 95% квантилей выбросами и заменим их на случайные значения из интервала 5-95%

In [24]:
if len(float_columns) != 0:
    for column in float_columns:
        q5 = X_train_6[column].quantile(0.05)
        q95 = X_train_6[column].quantile(0.95)
        X_train_6[column].loc[(X_train_6[column] < q5) | (X_train_6[column] > q95)] = np.random.uniform(q5, q95, len(X_train_6[column].loc[(X_train_6[column] < q5) | (X_train_6[column] > q95)]))
if len(int_columns) != 0:
    for column in int_columns:
        q5 = X_train_6[column].quantile(0.05)
        q95 = X_train_6[column].quantile(0.95)
        X_train_6[column].loc[(X_train_6[column] < q5) | (X_train_6[column] > q95)] = np.random.uniform(q5, q95, len(X_train_6[column].loc[(X_train_6[column] < q5) | (X_train_6[column] > q95)]))

c:\users\bokoser_user\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [25]:
X_train_6.shape

(26208, 8383)

In [26]:
X_train_6[float_columns].describe(include='all')

,x54,x34,x48,x57,x27,x55,x26,x37,x49,x50,...,x52,x53,x56,x33,x30,x40,x46,x35,x47,x44
count,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,...,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000
mean,0.053289,0.448107,0.471344,0.259379,-0.040938,0.026423,3.605154,47.831651,0.471590,0.479357,...,0.479978,-0.042143,0.272279,12.208055,376.388773,33.880698,0.533789,0.286217,0.522205,1.200481
std,0.826701,0.497309,0.375682,0.254481,0.586148,0.057714,2.400314,34.242234,0.377395,0.381462,...,0.386406,0.861665,0.265175,8.676522,672.112834,16.469935,0.343415,0.382793,0.352243,1.014407
min,-1.716522,0.000000,0.000000,0.000000,-0.750850,0.000000,0.166667,7.000000,0.000000,0.000000,...,0.000000,-1.600326,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.600113,0.000000,0.000000,0.036842,-0.450760,0.000000,1.666667,22.000000,0.000000,0.000000,...,0.000000,-0.646303,0.037873,6.000000,0.000000,21.000000,0.273000,0.000000,0.250000,0.400000
50%,0.010629,0.000000,0.470000,0.174093,-0.279647,0.000000,3.000000,37.685199,0.468000,0.479500,...,0.474000,-0.081954,0.185792,12.000000,1.934814,31.000000,0.522000,0.000000,0.500000,1.000000
75%,0.779410,1.000000,0.822000,0.437500,0.194640,0.017596,5.166667,65.000000,0.831000,0.864000,...,0.905000,0.588549,0.461538,18.000000,454.528605,44.000000,0.833000,0.666667,0.833000,1.800000
max,1.624359,1.000000,1.000000,0.892405,1.805357,0.288708,10.000000,153.000000,1.000000,1.000000,...,1.000000,1.911756,0.911111,32.000000,2982.449870,78.000000,1.000000,1.000000,1.000000,4.000000

Теперь нормализуем все числовые факторы

In [27]:
scaler = StandardScaler()
if len(float_columns) != 0:
    scaler.fit_transform(X_train_6[float_columns])
    scaler.transform(X_test_6[float_columns])
if len(int_columns) != 0:
    scaler.fit_transform(X_train_6[int_columns])
    scaler.transform(X_test_6[int_columns])

In [28]:
X_train_6[float_columns].describe(include='all')

,x54,x34,x48,x57,x27,x55,x26,x37,x49,x50,...,x52,x53,x56,x33,x30,x40,x46,x35,x47,x44
count,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,...,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000,26208.000000
mean,0.053289,0.448107,0.471344,0.259379,-0.040938,0.026423,3.605154,47.831651,0.471590,0.479357,...,0.479978,-0.042143,0.272279,12.208055,376.388773,33.880698,0.533789,0.286217,0.522205,1.200481
std,0.826701,0.497309,0.375682,0.254481,0.586148,0.057714,2.400314,34.242234,0.377395,0.381462,...,0.386406,0.861665,0.265175,8.676522,672.112834,16.469935,0.343415,0.382793,0.352243,1.014407
min,-1.716522,0.000000,0.000000,0.000000,-0.750850,0.000000,0.166667,7.000000,0.000000,0.000000,...,0.000000,-1.600326,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.600113,0.000000,0.000000,0.036842,-0.450760,0.000000,1.666667,22.000000,0.000000,0.000000,...,0.000000,-0.646303,0.037873,6.000000,0.000000,21.000000,0.273000,0.000000,0.250000,0.400000
50%,0.010629,0.000000,0.470000,0.174093,-0.279647,0.000000,3.000000,37.685199,0.468000,0.479500,...,0.474000,-0.081954,0.185792,12.000000,1.934814,31.000000,0.522000,0.000000,0.500000,1.000000
75%,0.779410,1.000000,0.822000,0.437500,0.194640,0.017596,5.166667,65.000000,0.831000,0.864000,...,0.905000,0.588549,0.461538,18.000000,454.528605,44.000000,0.833000,0.666667,0.833000,1.800000
max,1.624359,1.000000,1.000000,0.892405,1.805357,0.288708,10.000000,153.000000,1.000000,1.000000,...,1.000000,1.911756,0.911111,32.000000,2982.449870,78.000000,1.000000,1.000000,1.000000,4.000000

# 7. Веса при несбалансированной выборке

Оценим сбалансированность выборки

In [98]:
y_train.value_counts()

0  1  2  3  4  5  6
0  0  1  0  0  0  0    8144
      0  1  0  0  0    7739
         0  1  0  0    5323
            0  1  0    2941
   1  0  0  0  0  0     969
   0  0  0  0  0  1     911
1  0  0  0  0  0  0     181
dtype: int64

In [99]:
class_weights = []
for i in range(y_train.shape[1]):
    class_weights.append({0:1, 1:(y_train.shape[0] - y_train[i].sum())/y_train[i].sum()})
print(class_weights)

[{0: 1, 1: 143.79558011049724}, {0: 1, 1: 26.046439628482972}, {0: 1, 1: 2.218074656188605}, {0: 1, 1: 2.386484041865874}, {0: 1, 1: 3.9235393575051662}, {0: 1, 1: 7.911254675280516}, {0: 1, 1: 27.768386388583973}]

# 8. Применение классификатора

## 8.1. Random Forest

In [293]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [339]:
model = RandomForestClassifier(random_state=19,
                               n_estimators=200,
                               criterion='gini',
                               max_samples=20000,
                               max_features=4000,
                               max_depth=15,
                               min_samples_leaf=10,
                               min_samples_split=25,
                               bootstrap=True,
                               #class_weight='balanced_subsample',
                               verbose=1,
                               n_jobs=-1
                              )

In [340]:
model.fit(X_train_6, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   36.4s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  3.3min finished

RandomForestClassifier(max_depth=15, max_features=4000, max_samples=20000,
                       min_samples_leaf=10, min_samples_split=25,
                       n_estimators=200, n_jobs=-1, random_state=19, verbose=1)

In [341]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 15,
 'max_features': 4000,
 'max_leaf_nodes': None,
 'max_samples': 20000,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 10,
 'min_samples_split': 25,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 200,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 19,
 'verbose': 1,
 'warm_start': False}

In [342]:
model.score(X_train_6, y_train)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    1.3s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    1.4s finished

0.7105463980463981

In [344]:
model.score(X_test_6, y_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.8s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    0.9s finished

0.6838089424690981

In [345]:
feature_importances = pd.DataFrame({'feature': X_train_6.columns,
              'importance': model.feature_importances_}).sort_values('importance', ascending=False)
print(feature_importances[feature_importances['importance'] > 0])

             feature    importance
0                 x8  6.203056e-01
36               x57  4.603630e-02
9                x30  4.047624e-02
35               x56  3.735721e-02
37               x58  2.750346e-02
...              ...           ...
2155  x18_b426b4d30a  4.635197e-07
59     x0_083db7602c  2.751317e-07
4722  x10_f6ce83e4ec  2.513522e-07
136    x0_f49f045a60  7.048599e-08
3855  x10_7399892042  6.647378e-08

[265 rows x 2 columns]

## 8.2. XGBoost

In [29]:
from xgboost import XGBClassifier
import xgboost as xgb

In [30]:
model = XGBClassifier(seed=19,
                      n_estimators=10,
                      max_depth=15,
                      learning_rate=0.1,
                      verbosity=2
                     )

In [ ]:
model.fit(X_train_6, y_train)

c:\users\bokoser_user\appdata\local\programs\python\python39\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[19:15:59] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 106 extra nodes, 0 pruned nodes, max_depth=15
[19:16:03] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 818 extra nodes, 0 pruned nodes, max_depth=15
[19:16:08] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1716 extra nodes, 0 pruned nodes, max_depth=15
[19:16:14] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1506 extra nodes, 0 pruned nodes, max_depth=15
[19:16:19] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1510 extra nodes, 0 pruned nodes, max_depth=15
[19:16:25] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1172 extra nodes, 0 pruned nodes, max_depth=15
[19:16:31] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 524 extra nodes, 0 pruned nodes, max_depth=15
[19:16:31] WARNING: D:\Build\xgboost\xgboost-1.4.2.git\src\learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[19:16:37] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 108 extra nodes, 0 pruned nodes, max_depth=15
[19:16:43] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 872 extra nodes, 0 pruned nodes, max_depth=15
[19:16:49] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1864 extra nodes, 0 pruned nodes, max_depth=15
[19:16:56] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1562 extra nodes, 0 pruned nodes, max_depth=15
[19:17:02] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1628 extra nodes, 0 pruned nodes, max_depth=15
[19:17:08] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1192 extra nodes, 0 pruned nodes, max_depth=15
[19:17:14] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 570 extra nodes, 0 pruned nodes, max_depth=15
[19:17:21] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 110 extra nodes, 0 pruned nodes, max_depth=15
[19:17:27] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 826 extra nodes, 0 pruned nodes, max_depth=15
[19:17:34] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 2106 extra nodes, 0 pruned nodes, max_depth=15
[19:17:40] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1412 extra nodes, 0 pruned nodes, max_depth=15
[19:17:47] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1692 extra nodes, 0 pruned nodes, max_depth=15
[19:17:53] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1224 extra nodes, 0 pruned nodes, max_depth=15
[19:18:00] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 578 extra nodes, 0 pruned nodes, max_depth=15
[19:18:07] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 114 extra nodes, 0 pruned nodes, max_depth=15
[19:18:13] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 884 extra nodes, 0 pruned nodes, max_depth=15
[19:18:20] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 2040 extra nodes, 0 pruned nodes, max_depth=15
[19:18:26] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1542 extra nodes, 0 pruned nodes, max_depth=15
[19:18:33] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1694 extra nodes, 0 pruned nodes, max_depth=15
[19:18:40] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1248 extra nodes, 0 pruned nodes, max_depth=15
[19:18:46] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 584 extra nodes, 0 pruned nodes, max_depth=15
[19:18:54] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 112 extra nodes, 0 pruned nodes, max_depth=15
[19:19:01] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 908 extra nodes, 0 pruned nodes, max_depth=15
[19:19:07] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 2088 extra nodes, 0 pruned nodes, max_depth=15
[19:19:14] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1632 extra nodes, 0 pruned nodes, max_depth=15
[19:19:21] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1620 extra nodes, 0 pruned nodes, max_depth=15
[19:19:28] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1278 extra nodes, 0 pruned nodes, max_depth=15
[19:19:35] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 622 extra nodes, 0 pruned nodes, max_depth=15
[19:19:41] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 116 extra nodes, 0 pruned nodes, max_depth=15
[19:19:48] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 890 extra nodes, 0 pruned nodes, max_depth=15
[19:19:54] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 2094 extra nodes, 0 pruned nodes, max_depth=15
[19:20:00] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1544 extra nodes, 0 pruned nodes, max_depth=15
[19:20:07] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1764 extra nodes, 0 pruned nodes, max_depth=15
[19:20:13] INFO: D:\Build\xgboost\xgboost-1.4.2.git\src\tree\updater_prune.cc:101: tree pruning end, 1354 extra nodes, 0 pruned nodes, max_depth=15

# 9. Понижение размерности признаков

In [347]:
feature_importances[feature_importances['importance'] > 0]

             feature    importance
0                 x8  6.203056e-01
36               x57  4.603630e-02
9                x30  4.047624e-02
35               x56  3.735721e-02
37               x58  2.750346e-02
...              ...           ...
2155  x18_b426b4d30a  4.635197e-07
59     x0_083db7602c  2.751317e-07
4722  x10_f6ce83e4ec  2.513522e-07
136    x0_f49f045a60  7.048599e-08
3855  x10_7399892042  6.647378e-08

[265 rows x 2 columns]

In [350]:
main_features = feature_importances[feature_importances['importance'] > 0]['feature']
main_features

0                   x8
36                 x57
9                  x30
35                 x56
37                 x58
             ...
2155    x18_b426b4d30a
59       x0_083db7602c
4722    x10_f6ce83e4ec
136      x0_f49f045a60
3855    x10_7399892042
Name: feature, Length: 265, dtype: object

In [353]:
X_train_9 = X_train_6[main_features]
X_train_9.head()

,x8,x57,x30,x56,x58,x29,x59,x55,x32,x23,...,x18_52acf982ea,x0_a6e90a498b,x10_049265e410,x18_ee8c48e686,x0_1880a3f789,x18_b426b4d30a,x0_083db7602c,x10_f6ce83e4ec,x0_f49f045a60,x10_7399892042
1712,0.784228,0.068966,0.000000,0.674189,0.000000,6.500000,0.000000,0.000000,0.000000,30.883744,...,0,0,0,0,0,0,0,0,0,0
33706,-0.125526,0.831654,0.051432,0.000000,0.000000,11.833333,0.000000,0.000000,0.000000,43.615030,...,0,0,0,0,0,0,0,0,0,0
1790,0.091082,0.369697,0.000000,0.036364,0.169697,0.166667,0.406061,0.000000,1.000000,25.104075,...,0,0,0,0,0,0,0,0,0,0
30268,0.351012,0.184932,2099.039388,0.743151,0.061644,80.000000,0.000000,0.003425,0.666667,36.445038,...,0,0,0,0,0,0,0,0,0,0
11353,0.004439,0.592964,2835.452383,0.000000,0.000000,3.833333,0.000000,0.000000,0.000000,38.572200,...,0,0,0,0,0,0,0,0,0,0

In [354]:
X_test_9 = X_test_6[main_features]
X_test_9.head()

,x8,x57,x30,x56,x58,x29,x59,x55,x32,x23,...,x18_52acf982ea,x0_a6e90a498b,x10_049265e410,x18_ee8c48e686,x0_1880a3f789,x18_b426b4d30a,x0_083db7602c,x10_f6ce83e4ec,x0_f49f045a60,x10_7399892042
33501,0.740906,0.210526,2994.058105,0.368421,0.421053,28.166667,0.000000,0.000000,0.166667,33.984675,...,0,0,0,0,0,0,0,0,0,0
46805,-0.255490,0.249779,0.013835,0.203883,0.168579,11.166667,0.222418,0.103266,0.000000,41.576860,...,0,0,0,0,0,0,0,0,0,0
47641,0.480977,0.006897,2208.775228,0.013793,0.979310,55.833333,0.000000,0.000000,0.000000,42.071844,...,0,0,0,0,0,0,0,0,0,1
31991,-0.082204,0.044444,0.553711,0.200000,0.700000,24.666667,0.000000,0.055556,0.166667,35.986449,...,0,0,0,0,0,0,0,0,0,0
13108,0.567620,0.083333,400.655924,0.277778,0.000000,4.333333,0.638889,0.000000,0.166667,41.161946,...,0,0,0,0,0,0,0,0,0,0

Необходимо скорректировать параметры модели (если max_features > len(main_features))

In [356]:
model = RandomForestClassifier(random_state=19,
                               n_estimators=200,
                               criterion='gini',
                               max_samples=15000,
                               max_features=100,
                               max_depth=15,
                               min_samples_leaf=10,
                               min_samples_split=25,
                               bootstrap=True,
                               #class_weight='balanced_subsample',
                               verbose=1,
                               n_jobs=-1
                              )

In [357]:
model.fit(X_train_9, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:   19.7s finished

RandomForestClassifier(max_depth=15, max_features=100, max_samples=15000,
                       min_samples_leaf=10, min_samples_split=25,
                       n_estimators=200, n_jobs=-1, random_state=19, verbose=1)

In [359]:
model.score(X_train_9, y_train)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    1.2s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    1.3s finished

0.6861263736263736

In [360]:
model.score(X_test_9, y_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.7s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    0.8s finished

0.6673279414008851