# Извлечение данных

In [2]:
import zipfile
         
train_zip = zipfile.ZipFile('train.zip')
train_zip.extractall()
train_zip.close()

test_zip = zipfile.ZipFile('test.zip')
test_zip.extractall()
test_zip.close()

# Анализ данных

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv', header=0, index_col=False)
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
0,b4d8a653ea,16a14a2d17,06330986ed,ca63304de0,a62168d626,1746600cb0,1,1,-0.688706,7e5c97705a,...,0.235333,0.264952,0.000000,0.333333,0.333333,0.333333,0.000000,0.000000,9.0,2
1,467f9617a3,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,0.870871,5624b8f759,...,1.782346,1.322409,0.011647,0.397671,0.239601,0.249584,0.068220,0.033278,601.0,4
2,190436e528,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,0.437655,5624b8f759,...,-0.586540,0.672436,0.000000,0.606061,0.121212,0.212121,0.060606,0.000000,33.0,3
3,43859085bc,16a14a2d17,06330986ed,ca63304de0,a62168d626,1746600cb0,1,1,0.004439,f67f142e40,...,-1.600326,-1.838680,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,4
4,a4c3095b75,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,0.480977,7e5c97705a,...,0.960991,0.790990,0.020161,0.645161,0.258065,0.036290,0.040323,0.000000,248.0,3

In [3]:
print(df.shape)

(50000, 63)

Проанализируем типы данных

In [4]:
print(df.dtypes.unique())

[dtype('O') dtype('int64') dtype('float64')]

In [5]:
str_columns = []
float_columns = []
int_columns = []
for column in df.columns:
    if df[column].dtypes == 'object':
        str_columns.append(column)
    elif df[column].dtypes == 'float64':
        float_columns.append(column)
    else:
        int_columns.append(column)
print('Columns with string data type are: {0}'.format(str_columns))
print('Columns with float data type are: {0}'.format(float_columns))
print('Columns with int data type are: {0}'.format(int_columns))

Columns with string data type are: ['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x9', 'x10', 'x11', 'x12', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19', 'x20', 'x21', 'x22']
Columns with float data type are: ['x8', 'x13', 'x23', 'x24', 'x25', 'x26', 'x27', 'x28', 'x29', 'x30', 'x31', 'x32', 'x33', 'x34', 'x35', 'x36', 'x37', 'x38', 'x39', 'x40', 'x41', 'x42', 'x43', 'x44', 'x45', 'x46', 'x47', 'x48', 'x49', 'x50', 'x51', 'x52', 'x53', 'x54', 'x55', 'x56', 'x57', 'x58', 'x59', 'x60', 'x61']
Columns with int data type are: ['x6', 'x7', 'y']

In [6]:
df.describe(include='all')

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
count,49480,49500,49528,49504,49514,49490,50000.00000,50000.000000,48793.000000,47642,...,47844.000000,47844.000000,46126.000000,46126.000000,46126.000000,46126.000000,46126.000000,46126.000000,46126.000000,50000.000000
unique,85,15,2,2,5,6,NaN,NaN,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,aa2f3cd34a,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,NaN,NaN,NaN,f67f142e40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,13090,48103,48145,49085,28653,47980,NaN,NaN,NaN,16313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,0.99296,0.975860,-0.000252,NaN,...,-0.000686,-0.003266,0.046325,0.298044,0.286040,0.201557,0.116578,0.051234,161.143910,3.108880
std,NaN,NaN,NaN,NaN,NaN,NaN,0.08361,0.153485,1.023282,NaN,...,0.999981,1.000475,0.130912,0.300326,0.291669,0.256582,0.203317,0.139306,186.923802,1.217479
min,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,-85.252444,NaN,...,-1.600355,-1.838682,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,-0.255490,NaN,...,-0.697021,-0.731589,0.000000,0.037037,0.035714,0.008065,0.000000,0.000000,37.000000,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,0.221047,NaN,...,-0.080427,-0.011984,0.000000,0.193182,0.181818,0.086207,0.022727,0.000000,105.000000,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,0.567620,NaN,...,0.624234,0.804853,0.018349,0.500000,0.481013,0.304348,0.129900,0.025157,220.000000,4.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,3.426844,NaN,...,3.473768,2.242850,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5462.000000,6.000000

Выясним, сколько пропущенных значений и в каких они столбцах

In [7]:
print('Rows in the data frame: {0}'.format(len(df)))
print('Rows without NAN: {0}'.format(len(df.dropna(how='any'))))

Rows in the data frame: 50000
Rows without NAN: 32761

# 1. Отбрасывать ли строки с NaN или пытаться восстановить

## 1.1. Отбрасывать строки с NaN

In [9]:
df_1 = df.dropna(how='any')
len(df_1)

32761

Для строковых столбцов посмотрим, сколько различных вариантов есть в каждом из них

In [10]:
str_options_num = {}
for column in df_1.columns:
    if df_1[column].dtypes == 'object':
        str_options_num[column] = df_1[column].nunique()
print(len(str_options_num))
print(str_options_num)

19
{'x0': 85, 'x1': 11, 'x2': 2, 'x3': 2, 'x4': 5, 'x5': 6, 'x9': 7, 'x10': 1699, 'x11': 4, 'x12': 7, 'x14': 37, 'x15': 2, 'x16': 10, 'x17': 79, 'x18': 2810, 'x19': 10, 'x20': 79, 'x21': 3508, 'x22': 7}

# 2. Убирать ли факторы, в которых большинство строк принимает одно значение

## 2.1. Убирать

В качестве границы примем, что если 95% и более наблюдений принимают в данном столбце одинаковое значение, то столбец неинформативен, и его необходимо удалить.

In [11]:
df_2 = df_1.copy()
columns_to_del = []
for column in str_columns:
    for value in df_2[column].value_counts():
        if value/len(df_2) >= 0.95:
            columns_to_del.append(column)
print(columns_to_del)

str_columns = list(set(str_columns) - set(columns_to_del))
print(str_columns)

['x1', 'x2', 'x3', 'x5', 'x22']
['x14', 'x9', 'x21', 'x12', 'x11', 'x20', 'x19', 'x18', 'x15', 'x16', 'x0', 'x4', 'x10', 'x17']

In [12]:
for column in columns_to_del:
    del df_2[column]
df_2.head()

,x0,x4,x6,x7,x8,x9,x10,x11,x12,x13,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
0,b4d8a653ea,a62168d626,1,1,-0.688706,7e5c97705a,e5df3eff9b,91bb549494,e33c63cf35,3694.0,...,0.235333,0.264952,0.000000,0.333333,0.333333,0.333333,0.000000,0.000000,9.0,2
1,467f9617a3,b7584c2d52,1,1,0.870871,5624b8f759,fa0b797a92,669ea3d319,f178803074,18156.0,...,1.782346,1.322409,0.011647,0.397671,0.239601,0.249584,0.068220,0.033278,601.0,4
2,190436e528,b7584c2d52,1,1,0.437655,5624b8f759,152af2cb2f,91bb549494,e33c63cf35,1178.0,...,-0.586540,0.672436,0.000000,0.606061,0.121212,0.212121,0.060606,0.000000,33.0,3
3,43859085bc,a62168d626,1,1,0.004439,f67f142e40,c4dd2197c3,91bb549494,e33c63cf35,14559.0,...,-1.600326,-1.838680,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,4
4,a4c3095b75,b7584c2d52,1,1,0.480977,7e5c97705a,e071d01df5,91bb549494,e33c63cf35,5777.0,...,0.960991,0.790990,0.020161,0.645161,0.258065,0.036290,0.040323,0.000000,248.0,3

# 3. Разделим данные предикторы и предсказываемую переменную

In [13]:
X_3 = df_2.drop('y', axis=1).copy()
y_3 = df_2['y'].copy()

# 4. Формат кодировки категориальных переменных

## 4.1. One-Hot Encoding

In [14]:
X_4 = pd.get_dummies(X_3, columns=[*str_columns])

In [15]:
y_4 = pd.get_dummies(y_3)

In [16]:
X_4.shape

(32761, 8385)

In [17]:
y_4.shape

(32761, 7)

# 5. Нормализовать данные

In [18]:
from sklearn.preprocessing import scale

## 5.1. Нормализовать все данные

In [19]:
X_5 = scale(X_4)

In [20]:
X_5.shape

(32761, 8385)

In [23]:
X_5 = pd.DataFrame(X_5, columns=X_4.columns)

## 5.2. Нормализовать только числовые данные

In [50]:
X_5 = X_4.copy()
#np.log(X_5['x8']).hist(bins=20, density=True);
#type(np.log(X_5['x8']))

# 6. Разделим выборку на тренировочную и тестовую

In [27]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X_5, y_4, random_state=19, test_size=0.2)

# 7. Веса при несбалансированной выборке

Оценим сбалансированность выборки

In [98]:
y_train.value_counts()

0  1  2  3  4  5  6
0  0  1  0  0  0  0    8144
      0  1  0  0  0    7739
         0  1  0  0    5323
            0  1  0    2941
   1  0  0  0  0  0     969
   0  0  0  0  0  1     911
1  0  0  0  0  0  0     181
dtype: int64

In [99]:
class_weights = []
for i in range(y_train.shape[1]):
    class_weights.append({0:1, 1:(y_train.shape[0] - y_train[i].sum())/y_train[i].sum()})
print(class_weights)

[{0: 1, 1: 143.79558011049724}, {0: 1, 1: 26.046439628482972}, {0: 1, 1: 2.218074656188605}, {0: 1, 1: 2.386484041865874}, {0: 1, 1: 3.9235393575051662}, {0: 1, 1: 7.911254675280516}, {0: 1, 1: 27.768386388583973}]

# 7. Применение классификатора

## 7.1. Random Forest

In [31]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [145]:
model = RandomForestClassifier(random_state=19,
                               n_estimators=200,
                               criterion='gini',
                               max_samples=20000,
                               max_features=2000,
                               max_depth=15,
                               min_samples_leaf=10,
                               min_samples_split=25,
                               bootstrap=True,
                               #class_weight=class_weights,
                               verbose=1,
                               n_jobs=-1
                              )

In [146]:
model.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   21.3s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  2.0min finished

RandomForestClassifier(max_depth=15, max_features=2000, max_samples=20000,
                       min_samples_leaf=10, min_samples_split=25,
                       n_estimators=200, n_jobs=-1, random_state=19, verbose=1)

In [147]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 15,
 'max_features': 2000,
 'max_leaf_nodes': None,
 'max_samples': 20000,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 10,
 'min_samples_split': 25,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 200,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 19,
 'verbose': 1,
 'warm_start': False}

In [148]:
model.score(X_train, y_train)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    1.2s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    1.3s finished

0.6863553113553114

In [149]:
y_pred = model.predict(X_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.7s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    0.8s finished

In [150]:
model.score(X_test, y_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.1s
[Parallel(n_jobs=8)]: Done 184 tasks      | elapsed:    0.7s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    0.7s finished

0.6343659392644591